<?xml version="1.0"?>
<config>
    <modules>
        <Cadence_Mailchimp>
            <version>1.0.0</version>
        </Cadence_Mailchimp>
    </modules>
    <frontend>
        <layout>
            <updates>
                <cadence_mailchimp>
                    <file>cadence_mailchimp.xml</file>
                </cadence_mailchimp>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <cadence_mailchimp>
                <class>Cadence_Mailchimp_Block</class>
            </cadence_mailchimp>
        </blocks>
        <helpers>
            <cadence_mailchimp>
                <class>Cadence_Mailchimp_Helper</class>
            </cadence_mailchimp>
        </helpers>
        <resources>
            <cadence_mailchimp_setup>
                <setup>
                    <module>Cadence_Mailchimp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cadence_mailchimp_setup>
            <cadence_mailchimp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cadence_mailchimp_write>
            <cadence_mailchimp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cadence_mailchimp_read>
        </resources>
    </global>
    <default>
        <cadence_mailchimp>
            <popup>
                <enabled>1</enabled>
                <page_views>2</page_views>
                <delay>0</delay>
                <use_jquery>0</use_jquery>
            </popup>
        </cadence_mailchimp>
    </default>
</config>